// 标准字
$baseFontSize: 14px;
$baseLineHeight: 20px;

$miniFontSize: 12px;
$miniLineHeight: 16px;

$titleFontSize: 16px;
$middleFontSize: 18px;
$largeTitleSize: 20px;

$bigTitleSize: 24px;

// 标准色
$mainColor:#35c89d;
$baseColor: #666;
$titleColor: #333;
$blackColor: #000000; // rgba(0,0,0,1)
$darkColor: #1b1b1b;
$lightFontColor: #999;
$borderColor: #ececec;

$backgroundColor: #fcfcfc; // 背景色
$backgroundColorRgba: rgba(252,252,252,1);

$backgroundDarkColor: #f6f6f6; // 较深背景色
$backgroundDarkColorRgba: rgba(246,246,246,1);

$backgroundDarkColorTop: #EEE9E9;// 最深背景色
$backgroundDarkColorTopRgba: rgba(238,233,233,1);

$lightColor: #fff;
$starColor: #ff9925;
$darkOrange: #FF8C00;
$redColor: #c22447;

// size
$basePadding: 10px;
$middlePadding: 15px;
$maxPadding: 20px;
$headbarHeight: 45px;

$baseSize: 5px;

$footerBarHeight: 45px;

$lagerFooterBarHeight: 65px;

$imgPreHeight:187px;

$baseIndex: 13;

$maxIndex: 10000;
